.prods {
    text-align: center;

    &__title {
        font-size: clamp(1.563rem, 0.767rem + 3.98vw, 3.75rem);
        font-family: Dream Avenue;
    }

    &__box {
        width: 100%;
        border: 2px solid #000;

        svg {
            width: 50px;
            height: 50px;
            border: 1px solid #000;
            padding: 10px;
            border-radius: 50%;
        }
    }

    &__text {
        font-size: clamp(1.188rem, 0.938rem + 1.25vw, 1.875rem);
        font-family: Dream Avenue;
        font-weight: 600;
        letter-spacing: 2.4px;
    }

    &__ma {
        padding: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
        background-color: #9f9f9f;
    }

    &__grid {
        @media (max-width:768px) {
            display: flex !important;
            flex-direction: column-reverse;
        }
    }
}